/* Fundo Escuro que cobre toda a tela */
.modal-overlay {
    position: fixed; /* Fixa na tela, independente da rolagem */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    z-index: 1000; /* Garante que fique acima de outros elementos */
}

.modal-header-handle {
    width: 100%;
    height: 30px;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #383434;
    margin-bottom: 15px;
    user-select: none;
}

/* O Conteúdo da Janela (o Form, etc.) */
.modal-content {
    background: rgba(20, 19, 19, 0.973);
    margin: 0;
    width: 550px;
    height: 600px;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

/* O botão de fechar (X) */
.modal-close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    background-color: brown;
    color: white;
}

.shoppingcartproducts{
    background-color: black;
    width: 480px;
    height: 35px;
    min-height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid rgb(255, 255, 255);
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.shoppingcartproductsdivsuperior{
    height: 50px;
    width: 100%;
}

.titleproductsshoppingcart {

    font-size: 24px;
    color: white;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}


.buttondeleteitem {
    font-size: 1.2em;
    background-color: rgb(255, 0, 0);
    width: 35px;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.shoppingcartproducts button:hover{
    background-color: rgb(156, 57, 57);
}

.shoppingcartproducts button:active{
    background-color: rgb(175, 112, 112);
}

.listproductsshoppingcart{
    margin-top: 10px;
    width: 550px;
    height: 600px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
}

.nameproductsshoppingcart{
    flex-grow: 1;
    background-color: transparent;
    color: white;
    margin-left: 10px;
    width: 100%;
}

.valueproductsshoppingcart{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 2px;
    width: 100px;
}

.modal-footer{
    background-color: rgba(20, 19, 19, 0.973);
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 0px;
}

.modifyproductsshoppingcart {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: right;
}

.buttonquantitymore {
    width: 25px;
    height: 25px;
    background-color: rgb(21, 255, 0);
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
}

.buttonquantityless {
    width: 25px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
}

.quantity-number{
    width: 35px;
    min-width: 35px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    line-height: 25px;
}

.buttonfinishbuy {
    background-color: rgb(21, 255, 0);
    height: 45px;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    margin-right: 10px;
}

.buttonfinishcancel {
    background-color: rgb(255, 8, 0);
    height: 45px;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    margin-right: 10px;
    color: white;
}

.totalvalueshoppingcart {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 10px;
    color: white;
}

