.Formulario-Pedidos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 90vh;
    gap: 20px;
    padding: 20px;
}

.Grupo-Formulario {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    padding: auto;
}

.Entrada-Formulario {
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
    width: 100%;
    font-size: 16px;
    background-color: black;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.17);
    color: white;
    font-family: 'montserrat', sans-serif;
}


.Names-Formulario {
    font-size: 16px;
    color: white;
    font-family: 'montserrat', sans-serif;
    margin-bottom: 5px;
}

.Botoes-Checkout {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    position: relative;
}

.continuar-Checkout {
    background-color: hsl(290, 76%, 41%);
    color: white;
    font-size: clamp(14px, 2.5vw, 18px);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.17);
    font-family: 'montserrat', sans-serif;
}

.disabled-continuar-checkout {
    background-color: hsl(0, 0%, 28%);
    color: white;
    font-size: clamp(14px, 2.5vw, 18px);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.17);
    font-family: 'montserrat', sans-serif;
}

.continuar-Checkout:hover {
    background-color: hsl(290, 76%, 51%);
}

.voltar {
    background-color: gray;
    color: white;
    font-size: clamp(14px, 2.5vw, 18px);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.17);
    font-family: 'montserrat', sans-serif;
}

.voltar:hover {
    background-color: darkgray;
}


.produtos-pedido-container {
    max-width: 100%;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 90vh;
}

.tabela-produtos-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-y: auto;
}


.tabela-produtos {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
    font-size: clamp(15px, 2.5vw, 18px);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.17);
    overflow-y: auto;
}

.tabela-produtos th, .tabela-produtos td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    font-family: 'montserrat', sans-serif;
    color: white;
}

.Botoes-Checkout {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    position: relative;
}

.container-total-geral {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%
}

.value-total-geral {
    font-family: 'montserrat', sans-serif;
    color: hsl(290, 76%, 41%);
    display: flex;
    justify-content: space-between;
}

/* From Uiverse.io by Shoh2008 */ 
.checkbox-wrapper-33 {
  --s-xsmall: 0.625em;
  --s-small: 1.2em;
  --border-width: 1px;
  --c-primary: #5f11e8;
  --c-primary-20-percent-opacity: rgb(95 17 232 / 20%);
  --c-primary-10-percent-opacity: rgb(95 17 232 / 10%);
  --t-base: 0.4s;
  --t-fast: 0.2s;
  --e-in: ease-in;
  --e-out: cubic-bezier(0.11, 0.29, 0.18, 0.98);
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
  padding: 20px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.17);
  border-radius: 10px;
}

.checkbox-wrapper-33 .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.checkbox-wrapper-33 .checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.checkbox-wrapper-33 .checkbox + .checkbox {
  margin-top: var(--s-small);
}

.checkbox-wrapper-33 .checkbox__symbol {
  display: inline-block;
  display: flex;
  margin-right: calc(var(--s-small) * 0.7);
  border: var(--border-width) solid var(--c-primary);
  position: relative;
  border-radius: 0.1em;
  width: 1.5em;
  height: 1.5em;
  transition: box-shadow var(--t-base) var(--e-out),
    background-color var(--t-base);
  box-shadow: 0 0 0 0 var(--c-primary-10-percent-opacity);
}

.checkbox-wrapper-33 .checkbox__symbol:after {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: 0.25em;
  height: 0.25em;
  background-color: var(--c-primary-20-percent-opacity);
  opacity: 0;
  border-radius: 3em;
  transform: scale(1);
  transform-origin: 50% 50%;
}

.checkbox-wrapper-33 .checkbox .icon-checkbox {
  width: 1em;
  height: 1em;
  margin: auto;
  fill: none;
  stroke-width: 3;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  color: var(--c-primary);
  display: inline-block;
}

.checkbox-wrapper-33 .checkbox .icon-checkbox path {
  transition: stroke-dashoffset var(--t-fast) var(--e-in);
  stroke-dasharray: 30px, 31px;
  stroke-dashoffset: 31px;
}

.checkbox-wrapper-33 .checkbox__textwrapper {
  margin: 0;
}

.checkbox-wrapper-33 .checkbox__trigger:checked + .checkbox__symbol:after {
  -webkit-animation: ripple-33 1.5s var(--e-out);
  animation: ripple-33 1.5s var(--e-out);
}

.checkbox-wrapper-33
  .checkbox__trigger:checked
  + .checkbox__symbol
  .icon-checkbox
  path {
  transition: stroke-dashoffset var(--t-base) var(--e-out);
  stroke-dashoffset: 0px;
}

.checkbox-wrapper-33 .checkbox__trigger:focus + .checkbox__symbol {
  box-shadow: 0 0 0 0.25em var(--c-primary-20-percent-opacity);
}

@-webkit-keyframes ripple-33 {
  from {
    transform: scale(0);
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: scale(20);
  }
}

@keyframes ripple-33 {
  from {
    transform: scale(0);
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: scale(20);
  }
}

.metodos-pagamento-container {

  margin: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 90vh;

}

.formas-pagamentos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.opcao-pagamento {
  padding: 5px;
}


.checkbox-pagamentos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 15px 5px 15px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.17);
  color: white;
  font-family: 'montserrat', sans-serif;
  align-items: center;
  background-color: rgb(41, 41, 41);
  width: 100%;
}

.checkbox-pagamentos:hover {
  background-color: hsl(290, 76%, 51%);
}

.checkbox-pagamentos:active {
  background-color: hsl(290, 76%, 51%);
  transform: translate(2px);
}


.label-checkbox-pagamentos {

    text-align: center;
    font-family: 'montserrat', sans-serif;
    font-size: clamp(14px, 2.5vw, 18px);
    color: white;
    width: 100%;
}

.bandeira-metodo-pix {
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(41, 41, 41);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.17);
    margin: 10px;
}

.metodo-pagamento-pix {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(41, 41, 41);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.17);
    margin: 10px;
    color: white;
}

.descricao-pix {

    margin-bottom: 20px;
    font-family: 'montserrat', sans-serif;
    font-size: clamp(14px, 2.5vw, 18px);
    text-align: center;
} 

.chave-pix {

    font-family: 'montserrat', sans-serif;
    font-size: clamp(14px, 2.5vw, 18px);
    word-break: break-all;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.chave-pix input {

    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
    font-family: 'montserrat', sans-serif;
    font-size: clamp(14px, 2.5vw, 18px);
    text-align: center;
    border-radius: 20px;
    padding: 5px;
}

.chave-pix-copy {
    height: 28px;
    width: 30px;
    cursor: pointer;
}

.chave-pix-copy:hover {
    filter: brightness(0.8);
}

.bandeira-metodo-cartoes {

    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(41, 41, 41);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.32);
    margin: 10px;
}

.metodo-pagamento-cartoes {
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.bandeira-metodo-cartoes::after {
    background-color: hsl(290, 76%, 51%);
    transform: translate(2px);
}

.bandeiras-cartoes {
    font-family: 'montserrat', sans-serif;
    font-size: clamp(14px, 2.5vw, 18px);
    color: black;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.32);
    margin: 0px 5px 0px 5px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
    color: white;
}

.bandeiras-cartoes:hover {
    background-color: hsl(290, 76%, 41%);
}

.bandeiras-cartoes:active {
    background-color: hsl(290, 76%, 51%);
    transform: translate(2px);
}

.bandeiras-cartoes:focus {
    background-color: hsl(290, 76%, 41%);
}

