.client-delivery{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.client-data{
    
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    border-right: 5px solid rgb(14, 13, 13);
}

.adress-data{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 5px solid rgb(14, 13, 13);
}

.user-data-title{
    width: 100%;
    height: 90px;
    border-bottom: 2px solid rgb(7, 7, 7);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(128, 128, 128);
    font-size: 24px;
}

.data-name-input{
    width: 100%;
    height: 35px;
    margin-top: 10px;
    margin-left: 45px;
    margin-right: 45px;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.name-input {

    border-radius: 7px;
    height: 15px;
    width: 100%;
    margin-left: 2px;
    margin-right: 30px;
    border: 1px solid rgb(230, 230, 230);
    padding: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    color: rgb(128, 128, 128);
    background-color: rgb(41, 39, 39);
}