.footer {
    background-color: #474747;
    height: 45px;
    width: 100%;
    padding: 20px;
    display: flex;
    text-align: center;
    font-size: 14px;
    color: #6c757d;
    position: relative;
    margin-bottom: 0;
}