
* {
    caret-color: transparent;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo {
    width: 100%;
    height: 100%;
}

.logotipo {
    width: 100%;
    max-height: 25vh;
}

.home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

.options {
    display: none;
}

.icons-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.infos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.infos-data {
    margin-top: 5px;
    font-size: 14px;
    align-items: center;
}

.montserrat-data {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

@media (width: 360px) {
    .montserrat-data {
        font-size: 12px;
    }
}


@media (min-width: 1024px) {
    .montserrat-data {
        font-size: 23px;
    }
}

.status-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -16px;
    margin-bottom: 20px;
    z-index: 10;
    position: relative;
}

.status {
    color: white;
    text-align: center;
    background-color: rgb(31, 216, 15);
    border-radius: 5px;
    padding: 5px 10px;
}

.container {
    background-color: rgb(46, 44, 44);
    color: white;
}

.filter-all {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-top: 10px;
}

.button-filter {
    /* From Uiverse.io by JaydipPrajapati1910 */ 
  color: white;
  background-color: #222;
  font-weight: 120;
  border-radius: 0.5rem;
  font-size: 0.7rem;
  line-height: 2rem;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  cursor: pointer;
  text-align: center;
  margin-right: 0.5rem;
  display: inline-flex;
  align-items: center;
  border: none;
}

.button-filter:hover {
  background-color: #333;
}

.button-filter svg {
  display: inline;
  width: 1.3rem;
  height: 1.2rem;
  margin-right: 0.75rem;
  color: white;
}

.button-filter:focus svg {
  animation: spin_357 0.5s linear;
}

@keyframes spin_357 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.div-buttons-filters {
    width: 100vw;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-y: auto;
}

.buttons-filters {
    color: white;
    background-color: #222;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.5rem;
    border: none;
}

button.buttons-filters:focus {
    background-color: rgba(110, 0, 161, 0.733);
}

.container_ {
    margin-top: 20px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: auto;
}

.categories-details {
    width: 90vw;
    margin-left: 5px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: rgb(46, 44, 44);
}

.products-gouped {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 90vw;
}

.produtos-item {
    flex: 1 1 100px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding: 0.5rem;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .products-gouped {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .produtos-item {
        flex: 1 1 45%;
    }

}

@media (min-width: 1024px) {
    .produtos-item {
        flex: 1 1 30%;
    }
}

.produtos-item:hover {
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}



.data-itens-product {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 12px;
}

.data-description-container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 130px);
    overflow: hidden;
}

.data-description {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 5px;
    font-size: 14px;
}

.data-adicionar-container {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.img-product {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.cart-button {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    padding: 0.5rem;
    width: 120px;
    background-image: var(--bg-linear);

    font-size: 0.75rem;
    font-weight: 400;
    color: var(--light);
    text-wrap: nowrap;

    border: 2px solid hsla(262, 83%, 58%, 0.5);
    border-radius: 0.5rem;
    box-shadow: inset 0 0 0.25rem 1px var(--light);
}

 .cart-button .cart-icon {
    width: 1rem;
  }