* {
    caret-color: transparent;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo {
    width: 100%;
    height: 100%;
}

div.home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.options {
    display: none;
}

.icons-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.data {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; 
}

.status-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -16px;
    z-index: 10;
    position: relative;
}

.status {
    color: white;
    text-align: center;
    background-color: rgb(31, 216, 15);
    border-radius: 5px;
    padding: 5px 10px;
}

.infos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.container {
    background-color: rgb(46, 44, 44);
    color: white;
    overflow-y: auto;
}

.filter-all {

    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-top: 10px;
}

.button-filter {
    min-width: 145px;
    background-color: transparent;
    border: 0px;
    border-left: 2px solid rgba(19, 17, 17, 0.733);
    border-right: 2px solid rgba(19, 17, 17, 0.733);
    color: white;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

}

div.buttons-filters {
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    margin-top: 10px;
}

.buttons-filters {
    min-width: 145px;
    background-color: transparent;
    border: 0px;
    border-left: 2px solid rgba(19, 17, 17, 0.733);
    border-right: 2px solid rgba(19, 17, 17, 0.733);
    color: white;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

button.buttons-filters:focus {
    background-color: rgba(110, 0, 161, 0.733);
}

.container_ {
    margin-top: 20px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.categories-details {
    width: 90vw;
    margin-left: 5px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: rgb(46, 44, 44);
}

.products-gouped {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    margin-top: 10px;
    width: 90vw;
    margin-left: 5px;
    padding: 10px;
    text-align: center;
    color: white;
    border-radius: 5px;
}

.produtos-item {
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.data-itens-product {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.itens-product-img {

    min-width: 25%;
    max-width: 25%;

}

.img-product {
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: rgb(0, 0, 255);
    min-height: 120px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    width: 100%;
    height: auto;
    object-fit: cover;
    
}

.data-itens-unique {
    min-width: 75%;
    max-width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    flex-grow: 1;
}

.data-itens-unique-name {
    height: 20px;
    font-size: 10px;
    padding: 8px;
    
}

.data-itens-unique-description {
    border: 2px solid black;
    font-size: 10px;
    flex-grow: 1;
    margin: 10px;
    padding: 10px;
}

.data-itens-unique-select {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-right: 15px;

}

.data-itens-unique-select-adicionar {
    padding: 8px;
    border-radius: 10px;
    font-size: 10px;
    background-color: rgb(78, 4, 97);
    color: white;
    cursor: pointer;
    border: 1px solid rgba(32, 29, 29, 0.678);
}

.home-hamburger {

    position: absolute;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: aliceblue;
    padding: 5px;
    border-radius: 20px;
}
