:root {
  --bg-padrao-dark: #1a1a1a;
  --status-bg-aberto: #2ecc71;
  --status-bg-fechado: #d62e2e;
  --txt-padrao: #f3f3f3;
  --bg-filter-padrao: #222;
  --box-filter-padrao: #0000004d;
  --bg-liqui-fill: linear-gradient(90deg, #4f46e5, #7c3aed, #ec4899, #f59e0b);
  --focus-filters: #6e00a1bb;
}

.modal-horarios{
    border: none;
    border-radius: 10px;
    padding: 35px;
    box-shadow: 0 5px 15px var(--box-filter-padrao);
    background-color: var(--bg-padrao-dark);   
}

.modal-body {
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--txt-padrao);
  width: 100%;
}

.modal-title {
  color: var(--txt-padrao);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: clamp(16px, 2.5vw, 20px);
  margin-bottom: 10px;
  
}

.horarios-semanais {
  background-color: var(--bg-padrao-dark);
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 5px 15px var(--box-filter-padrao);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: clamp(18px, 2.5vw, 22px);
  color: var(--txt-padrao);
  gap: 10px;
}


.dia-atual {
  background-color: var(--focus-filters);
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 5px 15px var(--box-filter-padrao);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: clamp(18px, 2.5vw, 22px);
  color: var(--txt-padrao);

}