.options {
  position: fixed;
  top: 0;
  left: -260px;
  width: 50%;
  height: 100vh;
  background: #111;
  transition: left 0.3s ease;
  z-index: 1000;
}

@media (min-width: 1024px) {
    .options {
        width: 25%;
    }
}

.options.open {
  left: 0;
}

/* OVERLAY */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  z-index: 999;
}

.options-container-name-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-top: 8px;
}

.name-menu {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: white;
  flex-grow: 1;
  text-align: center;
}


.icons {
  font-size: 2rem;
  cursor: pointer;
  color: white;
  flex-grow: 1;
  text-align: center;
}

.icons-ajustes {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  margin-top: 5px;
}