* {
    caret-color: transparent;
}


.container__ {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: darkgray;
    background-color: rgb(31, 31, 31); 
}

.data-finalizacao {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 45px;
}


.finalizacao-info {

    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.finalizacao-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    flex-grow: 1;
    width: 100%;
    margin-top: 50px;
}

.information {
    border: 4px solid black;
    flex-grow: 1;
    margin: 10px;
    margin-left: 45px;
    margin-right: 45px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.finalizacao-data form {
    width: 100%;
    
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-left: 45px;
    margin-right: 45px;
}

.form-group label {
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
    color: darkgray;
}

.form-group input {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.35);
}

.form-group input.cep {
    width: 220px;
}

.form-group button.buscar {

    padding: 8px;
    width: 125px;
    border-radius: 10px;
    background-color: rgb(78, 4, 97);
    color: white;
    cursor: pointer;
    border: 2px solid rgba(32, 29, 29, 0.678);

}

.form-group button.buscar:hover {
    background-color: rgb(88, 54, 97);
}

.form-group-concat {
    display: flex; 
    flex-direction: row; 
    align-items: left;
    justify-content: left;
    width: 100%;
}

.botao-finalizar-compra {

    background-color: rgb(21, 255, 0);
    height: 45px;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;
}

.botao-cancelar-compra {

    background-color: rgb(255, 8, 0);
    height: 45px;
    border: 1px solid rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;

}

.botoes-finalizacao {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}



.data-carrinho {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}


.linhas {

    background-color: rgb(88, 54, 97);
    display: flex;
    flex-direction: row;


}

table {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.38);
}

table thead th {
    background-color: rgb(45, 46, 46);
    margin: 0;
    text-align: center;
    padding: 8px;

}

table tbody td {
    text-align: center;
}

.value-produto {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-around;
}

.line-foot {
    background-color: rgb(45, 46, 46);
    width: 100%;
    height: 30px;
    text-align: center;

}

.dropdowns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-dropdown-payment {
    
    margin-left: 30px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.38);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.observacoes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-observacoes {

    background-color: dimgray;
    width: 75%;
    padding: 10px;
    height: 120px;
    border: 1 solid black;
    border-radius: 10px;
    color: white;
}
