* {
    caret-color: transparent;
}

/* Fundo Escuro que cobre toda a tela */
.modal-overlay {
    position: fixed; /* Fixa na tela, independente da rolagem */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    z-index: 1000; /* Garante que fique acima de outros elementos */    
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.062);
    border-radius: 12px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .modal-overlay {
        position: fixed; /* Fixa na tela, independente da rolagem */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center; /* Centraliza verticalmente */
        z-index: 1000; /* Garante que fique acima de outros elementos */
    }

    .modal-header-handle {
        height: 30px;
        text-align: center;
        cursor: pointer;
        border-bottom: 1px solid #383434;
        margin-bottom: 15px;
        user-select: none;
    }

    /* O Conteúdo da Janela (o Form, etc.) */
    .modal-content {
        background: rgba(20, 19, 19, 0.973);
        margin: 0;
        width: 600px;
        height: 80vh;
        padding: 10px;
        border-radius: 12px;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
        position: relative;
        overflow: auto;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .imagem-product-data {
        max-width: 600px;
        border-radius: 20px;
    }


    .dados-produto-data {
        margin-top: -50px;
        z-index: 1000;
        color: white;
        background-color: rgb(46, 44, 44);
        display:flex;
        flex-direction: column;
        align-items: center;
        max-width: 600px;
        height: auto;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .modal-preco-produto-data {
        max-width: 300px;
    }
    .quantidade-product-cart {
        max-width: 300px;
    }
    .beautiful-button {

        max-width: 300px;

    }
    .styled-wrapper .button:before {
        border: 3px solid white;
        color: #f0eeef;
        background-color: white;
    }

}



.modal-header-handle {
    height: 30px;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #000000;
    margin-bottom: 15px;
    user-select: none;
}

/* O Conteúdo da Janela (o Form, etc.) */

.imagem-product-data {
    width: 100vw;
    height: 35vh;
}


.dados-produto-data {
    margin-top: -50px;
    z-index: 1000;
    color: white;
    background-color: rgb(46, 44, 44);
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.modal-name-produto-data {
    margin-top: 40px;
    padding: 0 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

.modal-descricao-produto-data {
    margin: 25px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    border: #000000 1px solid;

}

.modal-preco-produto-data {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 90vw;
}


.quantidade-product-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90vw;
    justify-content: space-between;
    margin-bottom: 15px;
    height: 20px;

}

.contagem-quantidade {
    height: 30px;
    background-color: white;
    color:#000000;
    border-radius: 5px;
    flex-grow: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
}

.adicionar-carrinho {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(51, 255, 0);
    border-radius: 5px;
}

.remover-carrinho {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
}


.modifique {

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}


/* Estilização do botão bonito */
.beautiful-button {
    background-color: rgb(133, 0, 160);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 40px;
    width: 90vw;
}

.beautiful-button:hover {
    background-color: rgb(160, 0, 190);
}

/* Estilização do contêiner do botão */
/* From Uiverse.io by karthik092726122003 */ 
.styled-wrapper .button {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  width: 50px;
  height: 50px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.styled-wrapper .button:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
  border: 3px solid black; /* Update dynamically for light/dark mode */
  transition:
    opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.styled-wrapper .button:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
  border: 4px solid rgb(160, 0, 190);
  transform: scale(1.3);
  transition:
    opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}

.styled-wrapper .button:hover:before,
.styled-wrapper .button:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition:
    opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.styled-wrapper .button:hover:after,
.styled-wrapper .button:focus:after {
  opacity: 1;
  transform: scale(1);
  transition:
    opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.styled-wrapper .button-box {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.styled-wrapper .button-elem {
  display: flex;
  width: 30px;
  height: 30px;
  margin: 10px 28px 0 10px;
  transform: rotate(360deg);
  fill: #f0eeef;
}

.styled-wrapper .button:hover .button-box,
.styled-wrapper .button:focus .button-box {
  transition: 0.4s;
  transform: translateX(-69px);
}
