@media (min-width: 360px)  {

    .modal-overlay-product {
        background-color: rgba(0, 0, 0, 0.596);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    .modal-content-product {
        background-color: #2b2b2b;
        margin: auto;
        padding: 20px;  
        border: 1px solid #888;
        width: 90%;
        z-index: 1000;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        position: fixed;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .imagem-product-data {
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .dados-produto-data {
        background-color: #2b2b2b;
        z-index: 1000;
        width: 100%;
        margin-top: -25%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    }

    .modal-name-produto-data {
        font-family: 'montserrat', sans-serif;
        font-size: 14px;
        color: #ffffff;
        padding: 10px;
    }

    .modal-descricao-produto-data {
        font-family: 'montserrat', sans-serif;
        font-size: 20px;
        color: #ffffff;
        width: 99%;
        flex-grow: 1;
        border: 1px solid #ffffff;
        border-radius: 5px;
        padding: 20px;
    }

    .modal-preco-produto-data {
        font-family: 'montserrat', sans-serif;
        font-size: 20px;
        color: #ffffff;
        width: 100%;
        text-align: right;
        padding: 10px;
    }

    .quantidade-product-cart {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding: 10px;
      height: 55px;
      align-items: center;
    }
    
    .modal-footer-produto-data {
      width: 100%;
      height: 55px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .modifique {
        font-size: 35px;
        font-family: 'montserrat', sans-serif;
        text-align: center;
        padding: 15px;
    }

    .contagem-quantidade {
        font-size: 25px;
        font-family: 'montserrat', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        width: 80%;
        height: 95%;
        border-radius: 8px;
        color: black;
    }

    .adicionar-carrinho {
        background-color: green; 
        z-index: 1000;
        margin-right: -10%;
        border-radius: 5px;
        max-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .remover-carrinho {
        background-color: red; 
        z-index: 1000;
        margin-left: -10%;
        border-radius: 5px;
        max-height: 100%; 
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .cartBtn {
      width: 90%;
      height: 90%;
      border: none;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 7px;
      color: white;
      font-weight: 500;
      position: relative;
      background-color: rgb(29, 29, 29);
      box-shadow: 0 20px 30px -7px rgba(27, 27, 27, 0.219);
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      overflow: hidden;
    }

    .cart {
      z-index: 1;
    }

    .cartBtn:active {
      transform: scale(0.96);
    }

    .product {
      position: absolute;
      width: 12px;
      border-radius: 3px;
      content: "";
      left: 30%;
      bottom: 23px;
      opacity: 0;
      z-index: 2;
      fill: rgb(211, 211, 211);
    }

    .cartBtn:hover .product {
      animation: slide-in-top 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    @keyframes slide-in-top {
      0% {
        transform: translateY(-30px);
        opacity: 1;
      }

      100% {
        transform: translateY(0) rotate(-90deg);
        opacity: 1;
      }
    }

    .cartBtn:hover .cart {
      animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    @keyframes slide-in-left {
      0% {
        transform: translateX(-10px);
        opacity: 0;
      }

      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }

        /* Estilização do contêiner do botão */
    /* From Uiverse.io by karthik092726122003 */ 
    .styled-wrapper .button {
      position: fixed;
      top: 20px;
      left: 20px;
      z-index: 1000;
      width: 50px;
      height: 50px;
      margin: 0;
      overflow: hidden;
      outline: none;
      background-color: transparent;
      cursor: pointer;
      border: 0 ;
      color: #f0eeef;
    }

    .styled-wrapper .button:before {
      content: "";
      position: absolute;
      color: #f0eeef;
      border-radius: 50%;
      inset: 7px;
      border: 3px solid rgb(255, 255, 255); /* Update dynamically for light/dark mode */
      transition:
        opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
        transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
    }

    .styled-wrapper .button:after {
      content: "";
      position: absolute;
      border-radius: 50%;
      inset: 7px;
      border: 4px solid rgb(160, 0, 190);
      transform: scale(1.3);
      transition:
        opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
        transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      opacity: 0;
      color: #f0eeef;
    }

    .styled-wrapper .button:hover:before,
    .styled-wrapper .button:focus:before {
      opacity: 0;
      transform: scale(0.7);
      transition:
        opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
        transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      color: #f0eeef;
    }

    .styled-wrapper .button:hover:after,
    .styled-wrapper .button:focus:after {
      opacity: 1;
      transform: scale(1);
      transition:
        opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
        transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
      color: #f0eeef;
    }

    .styled-wrapper .button-box {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      color: #f0eeef;
    }

    .styled-wrapper .button-elem {
      display: flex;
      width: 30px;
      height: 30px;
      margin: 10px 28px 0 10px;
      transform: rotate(360deg);
      fill: #f0eeef;
    }

    .styled-wrapper .button:hover .button-box,
    .styled-wrapper .button:focus .button-box {
      transition: 0.4s;
      transform: translateX(-69px);
      color: #f0eeef;
    }


}

@media (min-width: 500px)  {


    .modal-overlay-product {
        background-color: rgba(0, 0, 0, 0.596);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    .modal-content-product {
        background-color: #2b2b2b;
        margin: auto;
        padding: 20px;  
        border: 1px solid #888;
        width: 70%;
        height: 50%;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .container-product-data {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        background-color: #2b2b2b;
        height: 100%;
    }

    .imagem-product-data {
      max-width: 100%;
      min-height: 100%;
      border: 1px solid #ffffff;
      border-radius: 5px;


    }

    .dados-produto-data {
        background-color: #2b2b2b;
        font-size: 14px;
        margin-top: 0;
        padding: 15px;
        width: 90%;
    }

    .modal-name-produto-data {
        background-color: #2b2b2b;
        max-height: 60px;
        font-size: clamp(8px, 2vw, 14px);
    }

    .modal-descricao-produto-data {

        font-family: 'montserrat', sans-serif;
        color: #ffffff;
        font-size: clamp(8px, 2vw, 14px);
        border: 1px solid #ffffff;
        border-radius: 5px;
        background-color: #2b2b2b;
    }

    .modal-preco-produto-data {
        font-family: 'montserrat', sans-serif;
        font-size: clamp(14px, 1vw, 16px);
        color: #ffffff;
        text-align: right;
        padding: 10px;
        background-color: #2b2b2b;
    }

    .quantidade-product-cart {

      font-size: clamp(8px, 1vw, 16px);
      display: flex;
      flex-direction: row;
      padding: 10px;
      align-items: center;
      background-color: #2b2b2b;
      max-height: 45px;
      min-height: 25px;
      width: 90%;
    }
    
    .modal-footer-produto-data {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color: #2b2b2b;
    }

    .modifique {
        font-size: clamp(8px, 1vw, 16px);
        color: #ffffff;
        font-family: 'montserrat', sans-serif;
        text-align: center;
    }

    .contagem-quantidade {
      
        font-size: clamp(8px, 2vw, 16px);
        color: black;
        font-family: 'montserrat', sans-serif;
        text-align: center;
        padding: 10px;
      
    }

    .adicionar-carrinho {
        background-color: green; 
        z-index: 1000;
        margin-right: -10%;
        border-radius: 5px;
        max-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .remover-carrinho {
        background-color: red; 
        z-index: 1000;
        margin-left: -10%;
        border-radius: 5px;
        max-height: 100%; 
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }


    .cartBtn {
      width: 90%;
      border: none;
      border-radius: 20px;
      padding: 20px;
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 7px;
      color: white;
      font-size: clamp(8px, 1vw, 16px);
      position: relative;
      background-color: rgb(29, 29, 29);
      box-shadow: 0 20px 30px -7px rgba(27, 27, 27, 0.219);
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      overflow: hidden;
    }

    .cart {
      z-index: 1;
    }

    .cartBtn:active {
      transform: scale(0.96);
    }

    .product {
      position: absolute;
      width: 12px;
      border-radius: 3px;
      content: "";
      left: 40%;
      bottom: 23px;
      opacity: 0;
      z-index: 2;
      fill: rgb(211, 211, 211);
    }

    .cartBtn:hover .product {
      animation: slide-in-top 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    @keyframes slide-in-top {
      0% {
        transform: translateY(-30px);
        opacity: 1;
      }

      100% {
        transform: translateY(0) rotate(-90deg);
        opacity: 1;
      }
    }

    .cartBtn:hover .cart {
      animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    @keyframes slide-in-left {
      0% {
        transform: translateX(-10px);
        opacity: 0;
      }

      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }

    /* Estilização do contêiner do botão */
    /* From Uiverse.io by karthik092726122003 */ 
    .styled-wrapper .button {
      position: fixed;
      top: 20px;
      left: 20px;
      z-index: 1000;
      width: 50px;
      height: 50px;
      margin: 0;
      overflow: hidden;
      outline: none;
      background-color: transparent;
      cursor: pointer;
      border: 0 ;
      color: #f0eeef;
    }

    .styled-wrapper .button:before {
      content: "";
      position: absolute;
      color: #f0eeef;
      border-radius: 50%;
      inset: 7px;
      border: 3px solid rgb(255, 255, 255); /* Update dynamically for light/dark mode */
      transition:
        opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
        transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
    }

    .styled-wrapper .button:after {
      content: "";
      position: absolute;
      border-radius: 50%;
      inset: 7px;
      border: 4px solid rgb(160, 0, 190);
      transform: scale(1.3);
      transition:
        opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
        transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      opacity: 0;
      color: #f0eeef;
    }

    .styled-wrapper .button:hover:before,
    .styled-wrapper .button:focus:before {
      opacity: 0;
      transform: scale(0.7);
      transition:
        opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
        transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      color: #f0eeef;
    }

    .styled-wrapper .button:hover:after,
    .styled-wrapper .button:focus:after {
      opacity: 1;
      transform: scale(1);
      transition:
        opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
        transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
      color: #f0eeef;
    }

    .styled-wrapper .button-box {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      color: #f0eeef;
    }

    .styled-wrapper .button-elem {
      display: flex;
      width: 30px;
      height: 30px;
      margin: 10px 28px 0 10px;
      transform: rotate(360deg);
      fill: #f0eeef;
    }

    .styled-wrapper .button:hover .button-box,
    .styled-wrapper .button:focus .button-box {
      transition: 0.4s;
      transform: translateX(-69px);
      color: #f0eeef;
    }

}