* {
    caret-color: transparent;
}

/* Fundo Escuro que cobre toda a tela */
.modal-overlay {
    background-color: rgb(39, 39, 39);
    position: fixed; /* Fixa na tela, independente da rolagem */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    z-index: 1000; /* Garante que fique acima de outros elementos */
}

.modal-content {
    background-color: rgb(0, 0, 0);
    margin: 0;
    border-radius: 12px;
    background-color: rgb(0, 0, 0);
    position: relative;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
}


.modal-header-handle {
    height: 30px;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #000000;
    margin-bottom: 15px;
    user-select: none;
}

/* O Conteúdo da Janela (o Form, etc.) */


@media (min-width: 1024px) {

}

.imagem-product-data {
    margin-top: 20px;
    width: 100vw;
    height: 35vh;
    border-radius: 10px;
    object-fit: cover;
}


.dados-produto-data {
    margin-top: -50px;
    z-index: 1000;
    color: white;
    background-color: rgb(46, 44, 44);
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.modal-name-produto-data {
    margin-top: 40px;
    padding: 0 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

.modal-descricao-produto-data {
    margin-top: 20px;
    padding: 0 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;

}

.modal-preco-produto-data {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    width: 90vw;
}


.quantidade-product-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90vw;
    justify-content: space-between;
    margin-bottom: 15px;
    height: 20px;

}

.contagem-quantidade {
    height: 30px;
    background-color: white;
    color:#000000;
    border-radius: 5px;
    flex-grow: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
}

.adicionar-carrinho {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(51, 255, 0);
    border-radius: 5px;
}

.remover-carrinho {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
}


.modifique {

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}


/* Estilização do botão bonito */
.beautiful-button {
    background-color: rgb(133, 0, 160);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 40px;
    width: 90vw;
}

.beautiful-button:hover {
    background-color: rgb(160, 0, 190);
}

