:root {
  --bg-padrao-dark: #1a1a1a;
  --status-bg-aberto: #2ecc71;
  --status-bg-fechado: #d62e2e;
  --txt-padrao: #f3f3f3;
  --bg-filter-padrao: #222;
  --box-filter-padrao: #0000004d;
  --bg-liqui-fill: linear-gradient(90deg, #4f46e5, #7c3aed, #ec4899, #f59e0b);
  --focus-filters: #6e00a1bb;
}

.container-pedido{
    background-color: var(--bg-padrao-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    gap: 20px;
    padding: 40px;
}

.icone-status-pedido{
    color: var(--status-bg-aberto);
    height: 100px;
    width: 100px;
}

.container-status-pedido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 100vw;
    gap: 20px;
    padding: 20px;
    color: var(--txt-padrao)
}

.container-data-pedido{
    background-color: var(--bg-padrao-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    height: 40vh;
    gap: 20px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    color: var(--txt-padrao);
    box-shadow: 0 15px 15px var(--box-filter-padrao);
}

.label-id_pedido{
    font-size: clamp(14px, 2.5vw, 16px);
    font-weight: bold;
    color: var(--txt-padrao);
    display: flex;
    flex-direction: row;
    align-items: left;
    width: 100%;
}

.informacoes-data-hora{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: clamp(16px, 2.5vw, 20px);
}

.data-data_criacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: clamp(16px, 2.5vw, 20px);
    color: var(--txt-padrao);
    width: 100%;
}

.informacoes-valor-total{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: clamp(16px, 2.5vw, 20px);
    color: var(--txt-padrao);
    width: 100%;
}

.informacoes-prazo-entrega{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: clamp(16px, 2.5vw, 20px);
    color: var(--txt-padrao);
    width: 100%;
}

.informacoes-entrega-endereco{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: clamp(16px, 2.5vw, 20px);
    color: var(--txt-padrao);
    width: 100%;
    gap: 5px;
}

.informacoes-contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: clamp(16px, 2.5vw, 20px);
    color: var(--txt-padrao);
    width: 100%;
    gap: 20px;
}

.label-nome-cliente{
    font-size: clamp(16px, 2.5vw, 20px);
    font-weight: bold;
    color: var(--txt-padrao);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

/* From Uiverse.io by mobinkakei */ 
.wrapper {
  width: 200px;
  height: 30px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  top: 40px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: .2s
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}
